$brand_color : #151412;
$text_color : rgb(255, 255, 255);
$hover_color : rgb(83, 61, 44);
$span_text : #d1aa83;
html {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none
}
.big_text{
    font-size: 50px;
    line-height: 65px;
    color: $text_color;
    font-family: 'Russo One', sans-serif;
    span{
        color: $span_text
    }
}
.main_h1 {
    font-size: 30px;
    line-height: 38px;
    color: $text_color;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.main_h2 {
    font-size: 24px;
    line-height: 30px;
    color: $text_color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.main_h3{
    font-size: 14px;
    line-height: 22px;
    color: $text_color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 500px;
    text-align: center;
}

.main_p {
    font-size: 18px;
    line-height: 27px;
    color: $text_color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.text_line{
    background-color: rgb(199, 161, 122);
    height: 3px;
    margin: 30px 0;
    width: 150px;
    margin-left: 50%;
    transform: translatex(-50%);
    border-radius: 50%;
}
.text_line_min{
    background-color: rgb(199, 161, 122);
    height: 2px;
    width: 100px;
    border-radius: 50%;
}

body {
    overflow-x: hidden;
    margin: 0 auto;
    background: $brand_color;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box
}

header {
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: $brand_color;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.mobile_menu {
    display: none
}

.mob_head {
    display: none
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.header_logo {
    margin-right: 60px
}
.header_logo_text{
    font-size: 30px;
    line-height: 30px;
    color: $span_text;
    font-family: 'Russo One', sans-serif;
    transition: 0.3s;
    &:hover{
       color: $hover_color
    };
}
.header_tel {
    margin-left: 60px;
    img{
        width: 42px;
    }
}

.menu_ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none
}

.menu_ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $span_text;
    margin-left: 60px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.nav_a_pc:focus,
.nav_a_pc:hover {
    color: $hover_color;
    border-bottom: 2px solid $hover_color;
    outline: none
}

.footer_menu {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.footer_logo{
    width: 260px;
    h1{text-align: center;}
}
.footer_tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer_tel p {
    text-align: center;
    font-style: normal;
    line-height: 30px;
    font-size: 24px;
    line-height: 33px;
    color: $span_text
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 260px;
    img{
        padding: 0 10px;
        width: 40px;
    }
}

.cp {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    opacity: 0.5;
    line-height: 25px;
    margin-top: 60px;
    color: $span_text;
    padding-bottom: 15px
}


@media (max-width:1361px) {
    .menu_ul li a {
        margin-left: 30px
    }
}

@media (max-width:1231px) {
    .header_logo {
        margin-right: 15px
    }

    .header_tel {
        margin-left: 15px;
    }
}

@media (max-width:1111px) {
    header {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        z-index: 9999
    }

    .mob_head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 60px
    }

    .mob_head h3 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $span_text
    }


    .header_logo {
        width: 75px
    }
 .header_tel_mob{
         width: 30px;
         margin-right: 15px;
 }
    .header_logo svg {
        width: 75px;
        height: 50px;
        margin-top: 7px
    }

    .mobile_menu {
        display: block
    }

    .menu_ul {
        display: none
    }

    .header_nav_a_mob {
        font-size: 24px;
        color: $text_color;
        padding: 10px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        line-height: 40px;
        font-weight: bold;
        font-family: montserrat
    }

    .header_nav_a_mob:focus,
    .header_nav_a_mob:hover {
        outline: none;
        color: $hover_color;
        border-bottom: 2px solid $hover_color
    }

    .button_container {
        position: fixed;
        top: 18px;
        right: 18px;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        -webkit-transition: opacity 0.25s ease;
        -o-transition: opacity 0.25s ease;
        transition: opacity 0.25s ease
    }

    .button_container:hover {
        opacity: 0.7
    }

    .button_container.active .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        -ms-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $span_text;
        border-radius: 50px
    }

    .button_container.active .middle {
        opacity: 0;
        background: $span_text;
        border-radius: 50px
    }

    .button_container.active .bottom {
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $span_text;
        border-radius: 50px
    }

    .button_container span {
        background: $span_text;
        border-radius: 50px;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        cursor: pointer
    }

    .button_container span:nth-of-type(2) {
        top: 11px
    }

    .button_container span:nth-of-type(3) {
        top: 22px
    }

    .overlay {
        position: fixed;
        background: $brand_color;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        -o-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        overflow: hidden
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
        height: 100%
    }

    .overlay.open li {
        -webkit-animation: fadeInRight 0.5s ease forwards;
        animation: fadeInRight 0.5s ease forwards;
        -webkit-animation-delay: 0.35s;
        animation-delay: 0.35s
    }

    .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s
    }

    .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: 0.45s;
        animation-delay: 0.45s
    }

    .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s
    }

    .al {
        top: -50px;
        right: 50%;
        margin-right: -65px;
        position: absolute;
        -webkit-transition: 0.4s linear;
        -o-transition: 0.4s linear;
        transition: 0.4s linear
    }

    .overlay nav {
        position: relative;
        height: 70%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 400;
        text-align: center
    }

    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        height: 100%
    }

    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0
    }

    .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden
    }

    .overlay ul li a:active:after,
    .overlay ul li a:focus:after,
    .overlay ul li a:hover:after {
        width: 100%
    }

    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        -webkit-transition: 0.35s;
        -o-transition: 0.35s;
        transition: 0.35s
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%
        }

        to {
            opacity: 1;
            left: 0
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%
        }

        to {
            opacity: 1;
            left: 0
        }
    }

    .menu {
        display: none
    }
}

@media (max-width:1001px) {
    .footer_menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .footer_tel,
    .social {
        margin-top: 30px;
        margin-left: 0
    }
}
@media (max-width:500px){
    .big_text{
        font-size: 30px;
        line-height: 35px;
    }
    .main_h1{
        font-size: 22px;
        line-height: 30px;
    }
    .main_h2{
        font-size: 20px;
        line-height: 24px;
    }
    .head_wrap_padge{
h3{
            text-align: center;
            margin-top: 30px;
        }
    }
}